---
const { title = "AstroPraxis", description, ogImage } = Astro.props;
import SeoMeta from "../components/SeoMeta.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en" class="scroll-smooth">
  <head>
    <SeoMeta title={title} description={description} ogImage={ogImage} />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <script src="https://kit.fontawesome.com/8a91e67263.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-black text-white font-sans leading-relaxed">
    <Header />
    <main class="min-h-screen animate-fade-in">
      <slot />
    </main>
    <Footer />
  </body>
</html>
